---
  
  - include: repos.yml

  - name: Update cache
    apt:
      update_cache: yes

  - include: packages.yml
  - include: docker.yml
  - include: docker_compose.yml
  - include: docker_machine.yml
  - include: vbox.yml
  - include: virtualcam.yml
  - include: zsh.yml
  - include: confs.yml
  
  # TODO
  # - name: Restarted service lightdm
  #   service:
  #     name: lightdm
  #     state: restarted

  - name: Cleanup
    apt:
      autoremove: yes
      purge: yes
