#########################################################################################
- name: Remove packages
  apt: name={{ item }} state=absent
  loop: 
    - gnome-mines # popular minesweeper puzzle game for GNOME
    - gnome-sudoku # sudoku puzzle game for GNOME
    - transmission-gtk # lightweight BitTorrent client (GTK+ interface) 
    - sgt-puzzles #  launcher for sgt-puzzles collection
#########################################################################################
- name: Install packages
  apt: name={{ item }} state=present
  loop:
    - apt-transport-https # transitional package for https support 
    - apache2-utils # utility programs for web servers | AB stress test
    - axel # downloads rapido | threds 
    - bmon # portable bandwidth monitor and rate estimator
    - breeze # Default Plasma theme (meta-package)
    - clamav # anti-virus utility for Unix # use: clamscan -r <path/file>
    - cryptomator # multi-platform client-side encryption of your cloud files 
    - curl # programa para trasnferir dados para sites
    - default-jre # Standard Java or Java compatible Runtime
    - elinks # navegador por linha de comando
    - ffmpeg # Tools for transcoding, streaming and playing of multimedia files
    - gdebi # ferramenta para facilitar instalação de arquivos .deb
    - git # fast, scalable, distributed revision control system
    - gnome-disk-utility # manage and configure disk drives and media
    - gnupg-agent # GNU privacy guard - cryptographic agent (dummy transitional package)
    - gparted # gerenciador de partições
    - htop # software para visualizar o processamento, ....
    - jq # lightweight and flexible command-line JSON processor
    - meld # diff de arquivos
    - mesa-utils # Miscellaneous Mesa GL utilities
    - net-tools # NET-3 networking toolkit
    - nmap # software para scaner de portas
    - obs-studio # OBS Studio for Ubuntu
    - openfortivpn # Fortinet client for PPP+SSL VPN tunnel services
    - openconnect # open client for Cisco AnyConnect, Pulse, GlobalProtect VPN
    - pv # Shell pipeline element to meter data passing through
    - redshift-gtk # filtro de luz azul
    - speedtest-cli # command line interface for testing internet bandwidth using speedtest.net
    - software-properties-common # manage the repositories that you install software from (common)
    - unrar # arquivos .rar
    #- kdenlive # video editor
    - vlc # player de videos
    - vim # editor de texto por linha de comando
    - whois # intelligent WHOIS client
    - terminator # mult-term
    #- tor # anonymizing overlay network for TCP
    #- vidcutter # the simplest + fastest video cutter & joiner 

- name: Install a .deb package from the internet
  apt:
    deb: "{{ item }}"
  loop:
    - https://dl.google.com/linux/direct/google-chrome-stable_current_amd64.deb
    - https://dl.google.com/linux/chrome/deb/pool/main/g/google-chrome-unstable/google-chrome-unstable_90.0.4400.8-1_amd64.deb
    # - https://dl.google.com/linux/chrome/deb/pool/main/g/google-chrome-stable/google-chrome-stable_85.0.4183.121-1_amd64.deb
    - https://packages.microsoft.com/repos/ms-teams/pool/main/t/teams/teams_1.3.00.25560_amd64.deb
    - https://github.com/jgraph/drawio-desktop/releases/download/v13.7.9/draw.io-amd64-13.7.9.deb
    
#########################################################################################
- name: Check if NetExtender is installed.
  stat:
    path: /usr/bin/netExtenderGui
  register: netextender_bin

- name: Install NetExtender
  shell: "{{item}}"
  args:
    chdir: "roles/{{flavor}}/files/"
  when: not netextender_bin.stat.exists
  loop:
    - tar xvf NetExtender.x86_64.tgz
    - cd netExtenderClient/ && ./install
#########################################################################################
- name: Install snap packages
  snap: name={{ item }} state=present
  loop: 
    # - postman # API Development Environment
    - mysql-workbench-community # MYSQL ferramentas, modelagem, administração,...
    - pomatez # Pomodoro

- name: Install snap packages | CLASSIC
  snap: name={{ item }} state=present classic=true
  loop:
    - code # Visual Studio Code
#########################################################################################
- name: Check VSCODE extensions
  shell: code --list-extensions
  become: true
  become_user: "{{current_user}}"
  register: vscode_extensions
  
- name: VSCODE {{current_user}}
  shell: "code --install-extension {{item}}"
  become: true
  become_user: "{{current_user}}"
  when: not ( item in vscode_extensions.stdout_lines )
  loop:
    - alexkrechik.cucumberautocomplete
    - vscoss.vscode-ansible
    - ms-azuretools.vscode-docker
    - EditorConfig.EditorConfig
    - eamodio.gitlens
    - shd101wyy.markdown-preview-enhanced 
    - ryu1kn.partial-diff
    - felixfbecker.php-debug
    - neilbrayfield.php-docblocker
    - bmewburn.vscode-intelephense-client
    - ecodes.vscode-phpmd
    - breezelin.phpstan
    - ikappas.phpcs
    - kokororin.vscode-phpfmt
    - mhutchie.git-graph
#########################################################################################

- name: Check if youtube-dl is already installed
  stat:
    path: "/usr/local/bin/youtube-dl"
  register: youtubedl_bin


- name: Download from source move to executables folder and set permissions
  get_url:
    url: http://yt-dl.org/latest/youtube-dl
    dest: "/usr/local/bin/youtube-dl"
    mode: 0755
    force: yes
  when: not youtubedl_bin.stat.exists

# - name: Update youtube-dl
#   command: youtube-dl -U
#   register: youtubedl_update_out
#   when: youtubedl_bin.stat.exists and youtubedl_update
#   changed_when: "'Updated youtube-dl.' in youtubedl_update_out.stdout"
#   failed_when: "'ERROR:' in youtubedl_update_out.stdout"
#   ignore_errors: true
