- name: Add a setting to ~/.gitconfig
  become: true
  become_user: "{{current_user}}"
  community.general.git_config:
    name: "{{item.name}}"
    scope: global
    value: "{{item.value}}"
  loop:
    - { name: 'user.email'                  , value: '{{current_user}}@{{current_user}}' } 
    - { name: 'user.name'                   , value: '{{current_user}}' } 
    - { name: 'core.editor'                 , value: 'vim' } 
    - { name: 'alias.tree'                  , value: "log --graph --all --decorate --source --name-only" }
    - { name: 'alias.lg'                    , value: "log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit" } 
    - { name: 'alias.ignore'                , value: '! git update-index --assume-unchanged' }
    - { name: 'alias.unignore'              , value: '! git update-index --no-assume-unchanged' }
    - { name: 'alias.ignored'               , value: '! git ls-files -v | grep ^[a-z]' }
    - { name: 'alias.clone-branches'        , value: '! git branch -a | sed -n "/\/HEAD /d; /\/master$/d; /remotes/p;" | xargs -L1 git checkout -t' }
    - { name: 'alias.analises'              , value: '! git add . && git commit --allow-empty -m "Analises ..." && git push' }
    - { name: 'alias.track-branch'          , value: '! git commit --allow-empty -m "Track Branch" && git push -u origin $(git symbolic-ref --short -q HEAD)' }
    - { name: 'alias.cmd-merge-request'     , value: '! git commit --allow-empty -m "cmd: merge-request" && git push' }
    - { name: 'alias.cmd-merge-request-fix' , value: '! git commit --allow-empty -m "cmd: merge-request-fix" && git push' }
    - { name: 'alias.cmd-push-clear'        , value: '! git commit --allow-empty -m "cmd: push-clear" && git push' }
    
########################################################################################
- name: SHORTCUTS CUSTOM {{current_user}}
  become: true
  become_user: "{{current_user}}"
  dconf:
    key: "/org/gnome/settings-daemon/plugins/media-keys/custom-keybindings"
    value: "['/org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/custom0/']"


- name: SHORTCUTS VALUES {{current_user}}
  become: true
  become_user: "{{current_user}}"
  dconf:
    key: "/org/gnome/settings-daemon/plugins/media-keys/custom-keybindings{{item.property}}"
    value: "{{item.value}}"
  loop:
    - { property: '/custom0/name'     , value: "'Nautilus'" } 
    - { property: '/custom0/binding'  , value: "'<Super>e'" } 
    - { property: '/custom0/command'  , value: "'nautilus'" }

- name: NAUTILUS CONF {{current_user}}
  become: true
  become_user: "{{current_user}}"
  dconf:
    key: "/org/gnome/nautilus/preferences{{item.property}}"
    value: "{{item.value}}"
  loop:
    - { property: '/always-use-location-entry'     , value: "true" } 


- name: THEME CONF {{current_user}}
  become: true
  become_user: "{{current_user}}"
  dconf:
    key: "/org/gnome{{item.property}}"
    value: "{{item.value}}"
  loop:
    - { property: '/desktop/interface/gtk-theme'                      , value: "'Yaru-dark'" } 
    - { property: '/shell/extensions/dash-to-dock/show-apps-at-top'   , value: "true" } 
    - { property: '/shell/extensions/dash-to-dock/dash-max-icon-size' , value: "25" } 
    - { property: '/shell/extensions/dash-to-dock/dock-position'      , value: "'BOTTOM'" } 
    - { property: '/shell/extensions/dash-to-dock/click-action'       , value: "'minimize'" } 
    - { property: '/shell/favorite-apps', value: "['google-chrome.desktop', 'firefox.desktop', 'code.desktop']" } 


    

#########################################################################################
# AVATAR
- name: AVATAR > Copy
  become: true
  become_user: "{{current_user}}"
  copy: src=roles/{{flavor}}/files/avatar.jpg dest=/home/{{current_user}}/.face owner={{current_user}} group={{current_user}} mode=600
- name: AVATAR > Copy
  copy: src=roles/{{flavor}}/files/avatar.jpg dest=/var/lib/AccountsService/icons/{{current_user}} owner={{current_user}} group={{current_user}} mode=600

#########################################################################################
# TERMINAL
- name: TERMINATOR > Confs Create a directory if it does not exist
  become: true
  become_user: "{{current_user}}"
  ansible.builtin.file:
    path: /home/{{current_user}}/.config/terminator
    state: directory
    mode: '0755'

- name: TERMINATOR > Confs
  become: true
  become_user: "{{current_user}}"
  copy: src=roles/{{flavor}}/files/terminator_config dest=/home/{{current_user}}/.config/terminator/config owner={{current_user}} group={{current_user}} mode=600
#########################################################################################
# VSCODE
- name: VSCODE > Settings
  become: true
  become_user: "{{current_user}}"
  copy: src=roles/{{flavor}}/files/settings.json dest=/home/{{current_user}}/.config/Code/User/settings.json
#########################################################################################
# ALIAS ZSH
- name: youtube-dl > Add include 'alias'
  lineinfile:
    path: /home/{{current_user}}/.zshrc 
    line: "{{item.source}}"
    owner: "{{current_user}}"
    regexp: "^{{item.source}}$"
    state: present
    insertafter: EOF
    create: True
  loop:
    - { source: "source ~/.zsh_aliases" }
    - { source: "source ~/.zsh_confs" }
    
- name: youtube-dl > Add alias 'do'
  lineinfile:
    path: /home/{{current_user}}/.zsh_aliases 
    line: "alias do='youtube-dl -f best -ciw -o \"$HOME/Videos/%(title)s.%(ext)s\"'"
    owner: "{{current_user}}"
    regexp: "^alias do='youtube-dl -f best -ciw -o \"$HOME/Videos/%(title)s.%(ext)s\"'$"
    state: present
    insertafter: EOF
    create: True

- name: youtube-dl > Add alias 'dol'
  lineinfile:
    path: /home/{{current_user}}/.zsh_aliases 
    line: "alias dol='youtube-dl -f worst -ciw -o \"$HOME/Videos/%(title)s.%(ext)s\"'"
    owner: "{{current_user}}"
    regexp: "^alias dol='youtube-dl -f worst -ciw -o \"$HOME/Videos/%(title)s.%(ext)s\"'$"
    state: present
    insertafter: EOF
    create: True

- name: ZSH > Confs
  become: true
  become_user: "{{current_user}}"
  copy: src=roles/{{flavor}}/files/.zsh_confs dest=/home/{{current_user}}/.zsh_confs owner={{current_user}} group={{current_user}} mode=600
#########################################################################################
